<h1><%= @race.name %></h1>
<% if @race.over? %>
  <p><%= link_to 'Results', race_path(@race, show: 'results') %></p>
<% end %>
<%= link_to 'Edit Race', [:edit, @race] if @race.organizer?(current_user) %>

<% if @race.conference_name? %>
  <p>Conference: <%= link_to_if @race.conference_url?, @race.conference_name, @race.conference_url %></p>
<% end %>
<% if @race.runkeeper_url? %>
  <p>on <%= link_to 'runkeeper', @race.runkeeper_url %></p>
<% end %>

<p>Time: <%= l @race.time, format: :long %></p>
<%= simple_format @race.description if @race.description? %>

<p>Organized by: <%= link_to @race.organizer.name, @race.organizer %></p>

<h2>Runners</h2>
<% if current_user && !@race.runners.include?(current_user) %>
  <p><%= link_to 'Run this race', race_run_path(@race), method: 'post' %></p>
<% elsif current_user %>
  <p><%= link_to 'Drop out of this race', race_run_path(@race), method: 'delete' %></p>
<% end %>


<% if @runners.any? %>
<ul class="runners">
  <% @runners.each do |runner| %>
    <li><%= link_to runner.name, runner %></li>
  <% end %>
</ul>
<% else %>
  <p>Nobody is running this race yet.</p>
<% end %>