<h1><%= @race.name %></h1>
<% if @race.over? %>
  <p><%= link_to 'Results', race_path(@race, show: 'results') %></p>
<% end %>
<%= link_to 'Edit Race', [:edit, @race] if @race.organizer?(current_user) %>

<% if @race.map_points.any? %>
  <div id="race_map" style="height: 300px; width: 600px; float: right"></div>
  <script type="text/javascript" charset="utf-8">
    function initialize() {
      
      var latlngbounds = new google.maps.LatLngBounds();
      <% @race.map_points.each do |lat, lng| %>
        latlngbounds.extend(new google.maps.LatLng(<%= lat %>, <%= lng %>));
      <% end %>
      
      var myLatlng = new google.maps.LatLng(-34.397, 150.644);
      var myOptions = {
        zoom: 14,
        center: latlngbounds.getCenter(),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("race_map"), myOptions);
      
      var raceCoordinates = [
        <%= @race.map_points.map do |lat, lng|
         "new google.maps.LatLng(#{lat}, #{lng})"
        end.join(', ') %>
      ];
      var racePath = new google.maps.Polyline({
        path: raceCoordinates,
        strokeColor: "#FF0000",
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      racePath.setMap(map);
      
      new google.maps.Marker({
          position: new google.maps.LatLng(<%= @race.map_points.first[0] %>, <%= @race.map_points.first[1] %>),
          map: map,
          title: "Start"
      });
      
      new google.maps.Marker({
          position: new google.maps.LatLng(<%= @race.map_points.last[0] %>, <%= @race.map_points.last[1] %>),
          map: map,
          title: "Finish"
      });
      
    }

    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>
<% end %>

<% if @race.conference_name? %>
  <p>Conference: <%= link_to_if @race.conference_url?, @race.conference_name, @race.conference_url %></p>
<% end %>
<% if @race.runkeeper_url? %>
  <p>on <%= link_to 'runkeeper', @race.runkeeper_url %></p>
<% end %>

<p>Time: <%= l @race.time, format: :long %></p>
<%= simple_format @race.description if @race.description? %>

<p>Organized by: <%= link_to @race.organizer.name, @race.organizer %></p>

<h2>Runners</h2>
<% if current_user && !@race.runners.include?(current_user) %>
  <p><%= link_to 'Run this race', race_run_path(@race), method: 'post' %></p>
<% elsif current_user %>
  <p><%= link_to 'Drop out of this race', race_run_path(@race), method: 'delete' %></p>
<% end %>


<% if @runners.any? %>
<ul class="runners">
  <% @runners.each do |runner| %>
    <li><%= link_to runner.name, runner %></li>
  <% end %>
</ul>
<% else %>
  <p>Nobody is running this race yet.</p>
<% end %>