<!DOCTYPE html>
<html>
<head>
  <title>Runconf</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <a href="http://github.com/langalex/runconf"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
  <div id="head" class="container">
    runconf
  </div>
  <navigation class="container">
    <% unless current_user %>
      <%= link_to "Sign in with GitHub", "/auth/github" %>
    <% else %>
      <%= link_to 'Sign out', session_path, method: :delete %>
    <% end %>
  </navigation>
  <% [:alert, :notice].each do |type| %>
    <% if flash[type] %>
      <div class="flash <%= type %>"><%= flash[type] %></div>
    <% end %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
